# Source
src/
tsconfig.json
tsconfig.base.json

# Dev/config
.github/
.gitignore
.eslintrc*
.prettierrc*
*.config.js
*.config.ts

# Tests
**/*.test.ts
**/*.spec.ts
__tests__/
tests/

# Misc
.DS_Store
*.log
npm-debug.log*